@Author : Pramil Paudel 
IDE : Pycharm

Importing the required modules

In [4]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import pyplot as plt
print("Packages Loaded")

Packages Loaded

Defining the source file
Using ~ to provide relative path irrespective of the machine

In [6]:
## time series covid-19 confirmed case 
PROJECT_ROOT_DORECTORY = '~/Documents/FALL_2020/INTRO_DATASCIENCE/WEEKLY_PROJECT/week_one'

us_confirmed_case = pd.read_csv(PROJECT_ROOT_DORECTORY + "/data/raw/time_series_covid_19_confirmed_US.csv")
#us_confirmed_case.head(10)

us_confirmed_death = pd.read_csv(PROJECT_ROOT_DORECTORY + "/data/raw/time_series_covid_19_deaths_US.csv")
#us_confirmed_death.head(10)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,8/20/20,8/21/20,8/22/20,8/23/20,8/24/20,8/25/20,8/26/20,8/27/20,8/28/20,8/29/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,1240,1255,1264,1266,1286,1286,1281,1284,1296,1309
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,3957,3997,4037,4069,4083,4100,4166,4199,4230,4307
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,619,622,626,629,633,628,616,614,620,624
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,494,501,503,510,510,511,513,515,517,523
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,912,930,931,934,946,967,968,979,983,1004
5,84001011,US,USA,840,1011.0,Bullock,Alabama,US,32.100305,-85.712655,...,527,528,527,527,527,527,526,527,530,535
6,84001013,US,USA,840,1013.0,Butler,Alabama,US,31.753001,-86.680575,...,796,802,802,804,805,804,809,813,814,827
7,84001015,US,USA,840,1015.0,Calhoun,Alabama,US,33.774837,-85.826304,...,2072,2105,2134,2144,2168,2179,2215,2225,2255,2316
8,84001017,US,USA,840,1017.0,Chambers,Alabama,US,32.913601,-85.390727,...,861,865,869,870,870,863,862,860,863,867
9,84001019,US,USA,840,1019.0,Cherokee,Alabama,US,34.178060,-85.606390,...,319,324,330,331,336,334,331,336,336,341

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,8/20/20,8/21/20,8/22/20,8/23/20,8/24/20,8/25/20,8/26/20,8/27/20,8/28/20,8/29/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,22,22,22,22,22,22,22,22,22,22
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,31,32,32,32,32,32,33,34,35,36
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,7,7,7,7,7,7,7,7,7,7
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,6,6,6,6,6,6,5,5,5,6
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,5,6,6,6,6,6,7,7,9,9
5,84001011,US,USA,840,1011.0,Bullock,Alabama,US,32.100305,-85.712655,...,13,13,13,13,13,13,13,13,13,13
6,84001013,US,USA,840,1013.0,Butler,Alabama,US,31.753001,-86.680575,...,36,36,36,36,36,36,36,36,36,36
7,84001015,US,USA,840,1015.0,Calhoun,Alabama,US,33.774837,-85.826304,...,23,23,23,23,23,24,25,26,27,29
8,84001017,US,USA,840,1017.0,Chambers,Alabama,US,32.913601,-85.390727,...,38,38,38,38,38,38,38,38,39,39
9,84001019,US,USA,840,1019.0,Cherokee,Alabama,US,34.178060,-85.606390,...,9,9,9,9,9,9,9,11,11,11

First 11 columns are string type and they are common in both of the files, so they are dropped before dividing by the 
another df. Later those colums were combined to generate the file in the original format. It was done to preserve the
data information contained on it. 

Generated .csv file is written in the desinated o/p folder

In [7]:
# Replacing day wise data with 1 value if no case is cofirmed to handle NaN case
us_confirmed_case_day_wise_data = us_confirmed_case.drop(
    us_confirmed_case.columns[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]], 1).replace(0, 1)

us_confirmed_death_day_wise_data = us_confirmed_death.drop(
    us_confirmed_death.columns[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]], 1)

us_confirmed_death_day_wise_percentage = pd.DataFrame(
    us_confirmed_death_day_wise_data / us_confirmed_case_day_wise_data).round(3)

print(us_confirmed_death_day_wise_percentage.head(10))
# Creating new DF with % value
us_confirmed_death_other_data = us_confirmed_death[
    ["UID", "iso2", "iso3", "code3", "FIPS", "Admin2", "Province_State", "Country_Region", "Lat", "Long_",
     "Combined_Key"]]

# Creating a new % data frame
merged_df = pd.concat([us_confirmed_death_other_data, us_confirmed_death_day_wise_percentage], axis=1)
merged_df.to_csv(PROJECT_ROOT_DORECTORY + "/data/processed/time_series_covid_19_deaths_US_percentage.csv")

   1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  \
0      0.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
1      0.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
2      0.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
3      0.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
4      0.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
5      0.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
6      0.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
7      0.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
8      0.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
9      0.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0

   1/30/20  1/31/20  ...  8/28/20  8/29/20  8/3/20  8/4/20  8/5/20  8/6/20  \
0      0.0      0.0  ...    0.017    0.017   0.020   0.019   0.020   0.020
1      0.0      0.0  ...    0.008    0.008   0.007   0.007   0.007   0.007
2      0.0      0.0  ...    0.011    0.011   0.009   0.009   0.009   0.009
3      0.0      0.0  ...    0.010    0.011   0.008   0.008   0.010   0.010
4      0.0      0.0  ...    0.009    0.009   0.004   0.004   0.004   0.004
5      0.0      0.0  ...    0.025    0.024   0.025   0.025   0.025   0.024
6      0.0      0.0  ...    0.044    0.044   0.047   0.047   0.046   0.046
7      0.0      0.0  ...    0.012    0.013   0.006   0.008   0.008   0.008
8      0.0      0.0  ...    0.045    0.045   0.046   0.046   0.046   0.046
9      0.0      0.0  ...    0.033    0.032   0.029   0.028   0.028   0.027

   8/7/20  8/8/20  8/9/20  Population
0   0.020   0.019   0.018         NaN
1   0.007   0.007   0.007         NaN
2   0.009   0.009   0.009         NaN
3   0.010   0.012   0.011         NaN
4   0.004   0.005   0.005         NaN
5   0.024   0.024   0.024         NaN
6   0.046   0.047   0.047         NaN
7   0.008   0.007   0.008         NaN
8   0.046   0.045   0.045         NaN
9   0.027   0.026   0.026         NaN

[10 rows x 222 columns]